.emission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 3em;
}

.chart {
  font-weight: 300;
}

.chart > .legend {
  display: flex;
  column-gap: 2em;
  justify-content: center;
  margin-bottom: 0.25em;
  font-weight: 600;
}