.oracles-stats ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  column-gap: 24px;
  list-style-type: none;
  padding: 0;
}

.oracles-stats li {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1em;
}

.oracles-stats .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
  margin-bottom: 0.5em;
}

.oracles-stats .header h3 {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}

.oracles-stats .status {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background-color: #69b6d5;
}

.oracles-stats .status.active {
  background-color: var(--active-color);
}
.oracles-stats .status.idle {
  background-color: var(--idle-color);
}
.oracles-stats .status.offline {
  background-color: var(--offline-color);
}

.oracles-stats a {
  text-decoration: none;
  color: #0078ff;
  font-family: monospace;
}

.oracles-stats h4 {
  margin: 0;
  font-weight: 300;
  /* text-transform: uppercase; */
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

.oracles-stats .stats span {
  font-weight: 300;
  color: #84828e;
}

.oracles-stats .stats {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.oracles-stats .row {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}
