.oracle-pool-wrapper {
  display: grid;
  column-gap: 3em;
  /* grid-template-columns: max-content max-content; */
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr)); */
}

.commit-stats {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  grid-column-gap: 1rem;
}

.address {
  grid-column: 1 / span 5;
  margin-bottom: 0.25rem;
}

.commit-stats .stats {
  margin-bottom: 1rem;
}

.commit-stats .header {
  color: #84828e;
  margin-right: 0.5rem;
}

.status {
  margin-bottom: 1rem;
}

.status.active {
  color: var(--active-color);
}

.status.idle {
  color: var(--idle-color);
}

.status.offline {
  /* color: #E14A3C; */
  color: var(--offline-color);
}

.oracle-status {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  align-items: center;
}

.oracle-status > .donut {
  font-size: 2rem;
  font-weight: 300;
  align-self: center;
}

.donut {
  height: 10rem;
  width: 10rem;
}

.donut-text {
  font-size: 0.5rem;
  /* line-height: 1; */
  text-anchor: middle;
  transform: translateY(0.175rem);
}

.oracle-status .metric::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #69b6d5;
  align-self: center;
}

.oracle-status .active .metric::before {
  background-color: var(--active-color);
}
.oracle-status .idle .metric::before {
  background-color: var(--idle-color);
}
.oracle-status .offline .metric::before {
  background-color: var(--offline-color);
}

.oracle-status .idle {
  padding: 0.5rem 0;
}

#oracle-stats {
  border: 1px solid black;
}

.oracle-stats ol {
  border: 1px solid green;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.oracle-stats li {
  display: grid;
  max-width: 700px;
  grid-template-columns: 8em 2fr 2fr 1fr 2fr;
  /* font-family: monospace, monospace; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width-min), 1fr));
  justify-items: start;
}

.grid.commits {
  --column-width-min: 5em;
}