.oracle-pool {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 3em;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* .oracle-pool .latest {
  
} */