.oracle-pool-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 3em;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.oracle-pool .recharts-wrapper {
  /* font-size: 16px; */
  font-weight: 300;
}

.oracle-pool .latest {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;    
  column-gap: 1em;    
}