.oracle-pool-wrapper {
  display: grid;
}

.commit-stats {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  margin-top: 16px;
  align-items: center;
  grid-column-gap: 1rem;
}

.address {
  grid-column: 1 / span 5;
  margin-bottom: 0.25rem;
}

.commit-stats .stats {
  margin-bottom: 1rem;
}

.commit-stats .header {
  color: #84828e;
  margin-right: 0.5rem;
}

.status {
  margin-bottom: 1rem;
}

.status.active {
  color: rgb(74, 199, 109);
}

.status.idle {
  color: orange;
}

.status.offline {
  color: #E14A3C;
}