.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100vw;
  grid-template-rows: 50px max-content 1fr 40px;
  grid-template-areas:
    "header"
    "sync"
    "main"
    /* "footer"; */
}

.wrapper.toggled {
  grid-template-areas:
    "header"
    "nav"
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding: 10px 24px;
}

main {
  grid-area: main;
  background-color: var(--main-bg-color);
  padding: 24px 24px;
}

nav {
  grid-area: nav;
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
  background-color: rgb(210 210 210);;
  color: var(--text-color);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggled > main {
  display: none;
}

.toggled > nav {
  display: grid;
}

.toggled > footer {
  display: none;
}

.logo {
  font-size: 1.5rem;
}

.logo > a {
  text-decoration: none;
  color: inherit;
}

#nav-burger {
  margin:  0;
  padding: 0;
  height: 24px;
  width: 24px;
  background-color: inherit;
  border-width: 0px;
}

nav a {
  text-decoration: none;
  padding: 0.75rem 24px;
  color: var(--text-color);
}

nav a:hover {
  background-color: rgb(245, 245, 245);
}

nav a.active {
  font-weight: 600;
  /* background-color: var(--main-bg-color); */
}

#sync-status {
  grid-area: sync;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  column-gap: 1em;
  font-weight: 300;
  padding: 1em 24px;
}

#sync-status > div {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

#sync-status .value {
  font-size: 2em;
  /* font-weight: 400; */
}


@media (min-width: 770px) {
  .wrapper {
    height: 100%;
    min-height: 100vh;
    grid-template-columns: minmax(max-content, min(15%, 280px)) 1fr;
    grid-template-areas:
      "header main"
      "sync main"
      "nav main"
      /* "footer footer"; */
  }
  nav {
    display: inherit;
  }
  nav .toggled {
    display: inherit;
  }
  #nav-burger {
    display:  none;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  
}
