@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100);

:root {
  --main-bg-color: rgb(250 250 250);
  --card-color: rgb(240 240 240);
  --text-color: #131021;
  --active-color: rgb(74, 199, 109);;
  --idle-color: orange;
  /* --offline-color: #E14A3C; */
  --offline-color: #d2d3d4;
  --ergorange: #ff5537;

}

* {
  box-sizing: border-box;
}

html{
  font-size:14px;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:Open Sans,sans-serif;font-size:1rem;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif, 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.1rem;
}