div.card {
  margin-bottom: 3em;
}
div.card > div.flex {
  display: flex;
  column-gap: 2rem;
}

div.card > h2 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 0.5em;
}